#Netbeans data
nbproject/*
.dep.inc
.cproject
.dropbox.attr
.idea/*
*/.settings/*
.project
Makefile-netbeans
.project
CMakeLists.txt
*.stackdump
netbeans/*
Flowchart.vsdx
docs/SQLite/*


# Object files
*.o
*.o.d
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin

# Debug files
*.dSYM/